h1{
    color: black;
    text-align: center;
    font-size: 1.4em;
}
body{
    background-image: linear-gradient(to right, steelblue , gray);
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.one{
    text-align: center;
    font-size: 0.9em;
    
}
.logHistory{
    font-size: 0.8em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
td {
    font-size: 1.1em;
}

.edit, .fa-edit, .fa-trash{
    text-decoration: none;
    color: black;
}
.logHistory{
    text-align: center;
}